scheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="WP_PLU03">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IDOC">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EDI_DC40" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="TABNAM"/>
                                        <xs:element type="xs:short" name="MANDT"/>
                                        <xs:element type="xs:long" name="DOCNUM"/>
                                        <xs:element type="xs:short" name="DOCREL"/>
                                        <xs:element type="xs:byte" name="STATUS"/>
                                        <xs:element type="xs:byte" name="DIRECT"/>
                                        <xs:element type="xs:byte" name="OUTMOD"/>
                                        <xs:element type="xs:string" name="IDOCTYP"/>
                                        <xs:element type="xs:string" name="MESTYP"/>
                                        <xs:element type="xs:string" name="SNDPOR"/>
                                        <xs:element type="xs:string" name="SNDPRT"/>
                                        <xs:element type="xs:string" name="SNDPRN"/>
                                        <xs:element type="xs:string" name="RCVPOR"/>
                                        <xs:element type="xs:string" name="RCVPRT"/>
                                        <xs:element type="xs:short" name="RCVPRN"/>
                                        <xs:element type="xs:int" name="CREDAT"/>
                                        <xs:element type="xs:int" name="CRETIM"/>
                                        <xs:element type="xs:long" name="SERIAL"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="E1WPA01" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:short" name="FILIALE"/>
                                        <xs:element type="xs:string" name="AENDKENNZ"/>
                                        <xs:element type="xs:int" name="AKTIVDATUM"/>
                                        <xs:element type="xs:byte" name="AENDDATUM"/>
                                        <xs:element type="xs:long" name="HAUPTEAN"/>
                                        <xs:element type="xs:int" name="ARTIKELNR"/>
                                        <xs:element type="xs:string" name="POSME"/>
                                        <xs:element name="E1WPA02">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="WARENGR"/>
                                                    <xs:element type="xs:byte" name="VERPGEW"/>
                                                    <xs:element type="xs:string" name="RABERLAUBT"/>
                                                    <xs:element type="xs:string" name="PRDRUCK"/>
                                                    <xs:element type="xs:string" name="ARTIKANZ"/>
                                                    <xs:element type="xs:byte" name="MHDHB"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="E1WPA03">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="QUALARTTXT"/>
                                                    <xs:element type="xs:string" name="SPRASCODE"/>
                                                    <xs:element type="xs:string" name="TEXT"/>
                                                    <xs:element type="xs:byte" name="LFDNR"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="BEGIN"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>